img {
  height: 500px;
  width: 500px;
}
/* * {
  border: 1px solid red;
} */
p {
  font-size: large;
}

mat-icon:hover {
  cursor: pointer;
}
span {
  width: fit-content;
}
.btn {
  background-color: var(--button-color);
  color: var(--button-color-text);
}
