img {
  height: 500px;
  width: 500px;

  object-fit: contain;
}

mat-icon:hover {
  cursor: pointer;
}
span {
  width: fit-content;
}
.btn {
  background-color: var(--button-color);
  color: var(--button-color-text);
}
.price {
  color: var(--text-color-price);
}
