<div class="container">
  <div class="text-center m-3">
    <p class="fs-2 fw-bold m-0 p-0">Contact US</p>
    <p class="m-0 p-0">Any question or remarks? Just write us a message!</p>
  </div>
  <div class="row m-2 h-100">
    <div class="bg-secondary text-white col-lg-5 col-12 p-3 mb-4">
      <div class="d-flex flex-column align-content-between h-100">
        <div>
          <h2 class="mt-3 text-center text-lg">Contact Information</h2>
          <p class="text-center">Say Something to start a live Chat!</p>
        </div>
        <div class="text-center">
          <h3>Phone No</h3>
          <p>+92 300 0000000</p>

          <h3>Email</h3>
          <p>xyz-gmail.com</p>

          <h3>Location</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="d-flex justify-content-center gap-3 mt-auto">
          <a href="#" class="text-white">Twitter</a>
          <a href="#" class="text-white">Instagram</a>
          <a href="#" class="text-white">Facebook</a>
        </div>
      </div>
    </div>

    <form
      class="bg-light col-lg-7 col-12 row p-3"
      [formGroup]="myReactiveForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row m-0 p-0" formGroupName="fullName">
        <div class="col-md-6 mb-3">
          <label for="first-name" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first-name"
            name="firstName"
            formControlName="firstName"
          />
          <small
            class="text-danger"
            *ngIf="
              !myReactiveForm.get('fullName.firstName')!.valid &&
              myReactiveForm.get('fullName.firstName')!.touched
            "
          >
            Please Enter First Name</small
          >
        </div>
        <div class="col-md-6 mb-3">
          <label for="last-name" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last-name"
            name="lastName"
            formControlName="lastName"
          />
          <small
            class="text-danger"
            *ngIf="
              !myReactiveForm.get('fullName.lastName')!.valid &&
              myReactiveForm.get('fullName.lastName')!.touched
            "
          >
            Please Enter Last Name</small
          >
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
        <small
          class="text-danger"
          *ngIf="
            !myReactiveForm.get('email')!.valid &&
            myReactiveForm.get('email')!.touched
          "
        >
          Please Enter Valid Email</small
        >
      </div>
      <div class="col-md-6 mb-3">
        <label for="phone-number" class="form-label">Phone Number</label>
        <div class="phone-box">
          <label class="prefix" for="phone-number">+92</label>
          <input
            type="text"
            class="form-control ph"
            id="phone-number"
            name="phoneNumber"
            maxlength="10"
            formControlName="phoneNo"
            placeholder="3000000000"
          />
        </div>
        <small
          class="text-danger"
          *ngIf="
            !myReactiveForm.get('phoneNo')!.valid &&
            myReactiveForm.get('phoneNo')!.touched
          "
        >
          Please Enter Phone no</small
        >
      </div>
      <!-- Select Query Below -->
      <div class="col-12 mb-3 row">
        <label class="form-label">Select Subject</label>
        <div class="col-sm-6">
          <input
            type="radio"
            id="General Query"
            value="General Query"
            class="form-check-input"
            formControlName="query"
          />
          <label for="General Query" class="form-check-label ps-2"
            >General Query</label
          >
        </div>
        <div class="col-sm-6">
          <input
            type="radio"
            name="query"
            id="Support"
            value="Support"
            class="form-check-input"
            formControlName="query"
          />
          <label for="Support" class="form-check-label ps-2">Support</label>
        </div>
        <div class="col-sm-6">
          <input
            type="radio"
            name="query"
            formControlName="query"
            id="Feedback"
            class="form-check-input"
            value="Feedback"
          />
          <label for="Feedback" class="form-check-label ps-2">Feedback</label>
        </div>
        <div class="col-sm-6">
          <input
            type="radio"
            name="query"
            formControlName="query"
            id="Other"
            value="Other"
            class="form-check-input"
          />
          <label for="Other" class="form-check-label ps-2">Other</label>
        </div>
      </div>

      <!-- Message Below -->
      <div class="col-12 mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="4"
          minlength="10 "
          formControlName="message"
          placeholder="Type Message Here"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="
            !myReactiveForm.get('message')?.valid &&
            myReactiveForm.get('message')?.touched
          "
        >
          Please Enter Message</small
        >
      </div>
      <div class="col-12 text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!myReactiveForm.valid"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>
