* {
  /* border: 1px solid red; */
}

.phone-box {
  display: flex;
  align-items: center;

  position: relative;
}
.ph {
  padding-left: 40px;
}
.phone-box label {
  position: absolute;
  padding-left: 5px;
}

.phone-box input {
  border: none;
  outline: none;
  border: 1px solid lightgray;
}

.phone-box:focus-within {
  border-color: black;
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid red;
}
