<div class="container min-vh-100 mt-5">
  <div
    class="text-center text-white mt-2 ms-2 p-2"
    style="background-color: var(--background-color)"
  >
    <p class="fs-2 fw-bold p-1 m-0 mt-2">Contact Us</p>
    <p class="m-0 p-0">Any question or remarks? Just write us a message!</p>
  </div>

  <div class="row ms-2">
    <div
      class="text-white col-lg-5 col-md-6 col-12 p-3 mb-4"
      style="background-color: var(--background-color)"
    >
      <div class="d-flex flex-column h-100 justify-content-between">
        <div>
          <p class="mt-3 fs-2 fw-bold text-center">Contact Information</p>
          <p class="text-center">Say something to start a live chat!</p>
        </div>
        <div class="text-center">
          <h3>Phone No</h3>
          <p>+92 300 0000000</p>
          <h3>Email</h3>
          <p>xyz-gmail.com</p>
          <h3>Location</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="d-flex justify-content-center gap-3 mt-auto">
          <a href="#" class="text-white">Twitter</a>
          <a href="#" class="text-white">Instagram</a>
          <a href="#" class="text-white">Facebook</a>
        </div>
      </div>
    </div>

    <form
      class="bg-light mt-5 col-lg-7 col-md-6 col-12 p-3"
      [formGroup]="myReactiveForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row m-0">
        <div class="col-md-6 mb-3" formGroupName="fullName">
          <label for="first-name" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="first-name"
            name="firstName"
            formControlName="firstName"
          />
          <small
            class="text-danger"
            *ngIf="!myReactiveForm.get('fullName.firstName')!.valid"
          >
            Please Enter First Name</small
          >
        </div>
        <div class="col-md-6 mb-3" formGroupName="fullName">
          <label for="last-name" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="last-name"
            name="lastName"
            formControlName="lastName"
          />
          <small
            class="text-danger"
            *ngIf="!myReactiveForm.get('fullName.lastName')!.valid"
          >
            Please Enter Last Name</small
          >
        </div>
      </div>
      <div class="row m-0">
        <div class="col-md-6 mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            formControlName="email"
          />
          <small
            class="text-danger"
            *ngIf="!myReactiveForm.get('email')!.valid"
          >
            Please Enter Valid Email</small
          >
        </div>
        <div class="col-md-6 mb-3">
          <label for="phone-number" class="form-label">Phone Number</label>
          <div class="d-flex align-items-center">
            <label class="me-1">+92</label>
            <input
              type="text"
              class="form-control"
              id="phone-number"
              name="phoneNumber"
              maxlength="10"
              formControlName="phoneNo"
              placeholder="3000000000"
            />
          </div>
          <small
            class="text-danger"
            *ngIf="!myReactiveForm.get('phoneNo')!.valid"
          >
            Please Enter Phone no</small
          >
        </div>
      </div>
      <div class="row m-0">
        <label class="form-label">Select Subject</label>
        <div class="col-6 col-sm-3 mb-2">
          <input
            type="radio"
            id="General Query"
            value="General Query"
            class="form-check-input"
            formControlName="query"
          />
          <label for="General Query" class="form-check-label ps-2"
            >General Query</label
          >
        </div>
        <div class="col-6 col-sm-3 mb-2">
          <input
            type="radio"
            name="query"
            id="Support"
            value="Support"
            class="form-check-input"
            formControlName="query"
          />
          <label for="Support" class="form-check-label ps-2">Support</label>
        </div>
        <div class="col-6 col-sm-3 mb-2">
          <input
            type="radio"
            name="query"
            id="Feedback"
            value="Feedback"
            class="form-check-input"
            formControlName="query"
          />
          <label for="Feedback" class="form-check-label ps-2">Feedback</label>
        </div>
        <div class="col-6 col-sm-3 mb-2">
          <input
            type="radio"
            name="query"
            id="Other"
            value="Other"
            class="form-check-input"
            formControlName="query"
          />
          <label for="Other" class="form-check-label ps-2">Other</label>
        </div>
      </div>

      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea
          class="form-control"
          id="message"
          name="message"
          rows="4"
          minlength="10"
          formControlName="message"
          placeholder="Type Message Here"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="!myReactiveForm.get('message')?.valid"
        >
          Please Enter Message</small
        >
      </div>
      <!-- <div class="form-group" formArrayName="skills">
        <div class="d-flex justify-content-between">
          <label>Skills</label>
          <button
            type="button"
            class="btn btn-success btn-sm p-1 d-flex align-items-center"
            (click)="addSkills()"
          >
            <mat-icon>add</mat-icon> Add Skills
          </button>
        </div>
        <div
          *ngFor="let skill of skillsFormValue.controls; let i = index"
          class="d-flex align-items-center my-2"
        >
          <input
            type="text"
            class="form-control me-2"
            placeholder="Add Skills"
            [formControlName]="i"
          />
          <button
            type="button"
            class="btn btn-sm p-2 bg-danger d-flex align-items-center justify-content-center"
            (click)="deleteSkills(i)"
          >
            <mat-icon class="fs-4">delete</mat-icon>
          </button>
        </div>
      </div> -->
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!myReactiveForm.valid"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>
