<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" routerLink="/home">
      <img src="/logo.png" alt="ASM TECH" width="110px" class="bg-light" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="active"
            >Contact Us</a
          >
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item me-2 mt-1 position-relative">
          <a class="nav-link" routerLink="/cart" matTooltip="Cart">
            <span class="material-icons">shopping_cart</span>
            <span
              class="badge position-absolute top-0 start-100 translate-middle rounded-pill"
              *ngIf="items > 0"
            >
              {{ items }}
            </span>
          </a>
        </li>

        <li class="nav-item dropdown" *ngIf="loggedInUserName">
          <a
            class="nav-link dropdown-toggle"
            id="userDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            role="button"
          >
            <span class="material-icons fs-2">account_circle</span>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="userDropdown"
          >
            <li class="dropdown-item text-muted">{{ loggedInUserName }}</li>
            <hr class="dropdown-divider" />
            <li>
              <a
                class="dropdown-item"
                routerLink="/logout"
                (click)="toggleLogout()"
              >
                <i class="bi bi-box-arrow-right"></i> Logout
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="!loggedInUserName">
          <a class="nav-link" routerLink="/login">
            <i class="bi bi-box-arrow-in-right"></i> Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
