/* * {
  border: 1px solid red;
} */
/* .clearBtn {
  text-transform: none;
  color: black;
  background-color: red;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
} */

.main_container {
  min-height: 100vh;
}
