.container-fluid {
  min-height: 100vh;
}
.card {
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card-title {
  font-size: 1.25rem; /* Adjust font size for the title */
  font-weight: bold; /* Make the title bold */
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.card-body {
  padding: 1.2rem;
}

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.custom-text {
  font-size: 0.9vw; /* Adjust based on your preference */
}
