<!-- <nav class="">
  <div class="container-fluid">
    <ul class="me-auto">
      <li class="">
        <a
          class="nav-link active"
          routerLink="laptop"
          routerLinkActive="active"
        >
          Laptop
        </a>
      </li>
      <li class="">
        <a
          class="nav-link active"
          routerLink="computer"
          routerLinkActive="active"
        >
          Computer
        </a>
      </li>
      <li class="">
        <a
          class="nav-link active"
          routerLink="mobile"
          routerLinkActive="active"
        >
          Mobile
        </a>
      </li>
    </ul>
  </div>
</nav> -->
<div class="container">
  <router-outlet></router-outlet>
</div>
