:root {
  --primary-color: #4a628a;
  --secondary-color: #7ab2d3;
  --button-color: var(--primary-color);
  --background-color: var(--secondary-color);
  --button-color-text: white;
  --text-color-price: red;
  --text-color-heading: var(--primary-color);
  --text-color: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
} /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
