<div class="scrollable-container">
  <!--  -->
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active custom-indicator"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        class="custom-indicator"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        class="custom-indicator"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <ng-container *ngFor="let carouse of carouselDetails">
        <div class="{{ carouse.class }}">
          <img
            src="{{ carouse.image }}"
            class="d-block w-100"
            style="object-fit: cover; height: 500px"
          />
          <div
            class="carousel-caption d-none d-md-block custom-carousel-caption"
          >
            <h5>{{ carouse.heading }}</h5>
            <p>{{ carouse.para }}</p>
            <a class="btn custom-btn">Show Details</a>
          </div>
        </div>
      </ng-container>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--  -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div
        class="col-12 col-sm-4 col-md-3 col-lg-2 mb-4"
        *ngFor="let product of products"
      >
        <div
          class="card shadow border-0"
          routerLink="/products"
          routerLink="/products"
          [queryParams]="{ for: product.query }"
        >
          <div class="position-relative">
            <img
              [src]="product.image"
              alt="Product Image"
              style="object-fit: contain"
              class="card-img-top img-fluid"
            />
            <div class="card-body text-center">
              <h5 class="card-title custom-text">{{ product.title }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->

  <!--  -->

  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <h1 class="text-center">Trending</h1>
      <ng-container *ngFor="let catalog of catalogDetails">
        <div class="{{ catalog.class }}" data-bs-interval="500">
          <div class="row mb-5 justify-content-center">
            <div
              class="col-12 col-sm-6 col-md-4 col-lg-2"
              *ngFor="let prod of catalog.catalogProducts"
            >
              <div class="card shadow border-0 h-100">
                <div class="position-relative">
                  <img
                    [src]="prod.image"
                    alt="Product Image"
                    class="card-img-top img-fluid"
                    style="object-fit: contain; height: 150px"
                  />
                  <div class="card-body text-center">
                    <h5 class="card-title text-truncate">{{ prod.title }}</h5>
                    <p class="card-text">
                      {{ prod.description | shortheading }}
                    </p>
                    <div class="d-flex justify-content-center">
                      <a
                        [routerLink]="['/products/product', prod.id]"
                        class="btn"
                        >View Details</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!--  -->

  <div class="row m-2 justify-content-center">
    <h1 class="text-center">Most Sold</h1>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let prod of a">
      <div class="card shadow border-0 h-100">
        <div class="position-relative">
          <img
            [src]="prod.image"
            alt="Product Image"
            class="card-img-top img-fluid"
            style="object-fit: contain; height: 200px"
          />
          <div class="card-body text-center">
            <h5 class="card-title text-truncate">{{ prod.title }}</h5>
            <p class="card-text">
              {{ prod.description | shortheading }}
            </p>
            <div class="d-flex justify-content-center mt-2">
              <a [routerLink]="['/products/product', prod.id]" class="btn"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-5 justify-content-center">
    <h1 class="text-center">New Arrivals</h1>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2" *ngFor="let prod of d">
      <div class="card shadow border-0 h-100">
        <div class="position-relative">
          <img
            [src]="prod.image"
            alt="Product Image"
            class="card-img-top img-fluid"
            style="object-fit: contain; height: 200px"
          />
          <div class="card-body text-center">
            <h5 class="card-title text-truncate">{{ prod.title }}</h5>
            <p class="card-text">{{ prod.description | shortheading }}</p>
            <div class="d-flex justify-content-center mt-2">
              <a [routerLink]="['/products/product', prod.id]" class="btn"
                >View Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
</div>
